---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";
import {languages} from'@/data/technologies';
import {technologies} from'@/data/technologies';

import TechnologyCard from "@/components/TechnologyCard.astro";

---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-3xl text-neutral-100">{presentation.title}</h1>
      <h2
        class="max-w-[100ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
      <SocialLinks />
    </article>

    <article class="flex flex-col">
      <header class="flex w-full flex-row justify-between gap-3 ">
        <h3 class="text-lg text-white">Competencies</h3>
      </header>

      <h3 class="bottom-0 left-0 w-full flex justify-center items-center p-3">
        Languages
      </h3>
      <div class="flex justify-center pb-10">

        <section class="grid grid-cols-7 gap-5">
          {
            languages.length !== 0 &&
              languages.map((language) => <TechnologyCard {...language} />)
          }
        </section>
      </div>

      <h3 class="bottom-0 left-0 w-full flex justify-center items-center p-3">
        Technologies
      </h3>
      <div class="flex justify-center">
        <section class="grid grid-cols-7 gap-5">
          {
            technologies.length !== 0 &&
            technologies.map((technology) => <TechnologyCard {...technology} />)
          }
        </section>
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-white">
          Selected projects
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="grid grid-cols-2 gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
