---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import Resume from "../content/resume/Aarham-Haider-Resume.pdf"

import presentation from "@/data/presentation";
import education from "@/data/education";
import projects from "@/data/projects";
import {languages} from'@/data/technologies';
import {technologies} from'@/data/technologies';

import TechnologyCard from "@/components/TechnologyCard.astro";

---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-3xl text-neutral-100">{presentation.title}</h1>
      <h2
        class="max-w-[100ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
      <a class="underline duration-300 transition-all hover:text-white gap-20 max-w-[20ch]" href={Resume} download>Download My Resume</a>
    </article>

    <article class="flex flex-col">
      
      <header class="flex w-full flex-row justify-between gap-3 items-center pb-4">
        <h3 class="text-lg text-emerald-400">Selected Projects</h3>
        <div class="flex-grow mx-3">
          <hr class="h-px min-w-1 max-w-3 opacity-40 bg-emerald-200 border-0">        
        </div>
      </header>
      <p class="pb-6 pt-3 decoration-4 text-white text-lg">{presentation.education}</p>
      <div class="pl-4">
        {
          education.map((educations)=>(
            <div>
              <p class="text-emerald-400 pb-1">тоЮ {educations.course}</p>
              <p class="text-[12px] pl-4 pb-4">той  {educations.content}</p>
            </div>
          ))
        }
      </div>

    </article>

    <article class="flex flex-col">
      
      <header class="flex w-full flex-row justify-between gap-3 items-center pb-4">
        <h3 class="text-lg text-emerald-400">Competencies</h3>
        <div class="flex-grow mx-3">
          <hr class="h-px min-w-1 max-w-3 opacity-40 bg-emerald-200 border-0">        
        </div>
      </header>
      

      <h3 class="bottom-0 left-0 w-full flex justify-center items-center p-3">
        Languages
      </h3>
      <div class="flex justify-center pb-10">

        <section class="grid grid-cols-3 gap-5 sm:grid-cols-7">
          {
            languages.length !== 0 &&
              languages.map((language) => <TechnologyCard {...language} />)
          }
        </section>
      </div>

      <h3 class="bottom-0 left-0 w-full flex justify-center items-center p-3">
        Technologies
      </h3>
      <div class="flex justify-center">
        <section class="grid grid-cols-3 gap-5 sm:grid-cols-7">
          {
            technologies.length !== 0 &&
            technologies.map((technology) => <TechnologyCard {...technology} />)
          }
        </section>
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-3 items-center pb-4">
        <h3 class="text-lg text-emerald-400">Selected Projects</h3>
        <div class="flex-grow mx-3">
          <hr class="h-px min-w-1 max-w-3 opacity-40 bg-emerald-200 border-0">        
        </div>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-emerald-400">Get in touch</h3>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
