---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import ExperienceTimeline from "@/components/ExperienceTimeline.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import Resume from "../content/resume/Aarham-Haider-Resume.pdf"
import presentation from "@/data/presentation";
import projects from "@/data/projects";
import {languages} from'@/data/technologies';
import {technologies} from'@/data/technologies';
import {frameworks} from '@/data/technologies';

import TechnologyCard from "@/components/TechnologyCard.astro";

---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-3xl font-bold text-rose-400">{presentation.title}</h1>
      <h2
        class="max-w-[100ch] leading-6"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
    </article>

    <article class="flex flex-col">
      
      <header class="flex w-full flex-row justify-between gap-3 items-center pb-4">
        <h3 class="text-xl font-bold text-rose-400">// experience //</h3>
      </header>
      <div>
      <ExperienceTimeline/>

    <article class="flex flex-col">
      
      <header class="mt-10 flex w-full flex-row justify-between gap-3 items-center pb-4">
            <h3 class="text-xl font-bold text-rose-400">// education //</h3>
      </header>
      <p class="pb-6 pt-3 decoration-4 text-neutral-200 text-md">~     {presentation.education}     ~</p>
    </article>
  
    <article class="flex flex-col">
      
      <header class="mt-20 flex w-full flex-row justify-between gap-3 items-center pb-4">
            <h3 class="text-xl font-bold text-rose-400">// competencies //</h3>
      </header>
      <div class="flex justify-center pb-10">

        <section class="grid grid-cols-3 gap-5 sm:grid-cols-7">
          {
            languages.length !== 0 &&
              languages.map((language) => <TechnologyCard {...language} />)
          }
          {
            technologies.length !== 0 &&
            technologies.map((technology) => <TechnologyCard {...technology} />)
          }
          {
            frameworks.length !== 0 &&
            frameworks.map((framework) => <TechnologyCard {...framework} />)
          }
      </section>
      </div>
    </article>
    <article class="flex flex-col gap-8">
      <header class="mt-20 flex w-full flex-row justify-between gap-3 items-center pb-4">
            <h3 class="text-xl font-bold text-rose-400">// selected projects //</h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="mt-20 flex w-full flex-row justify-between gap-3 items-center">
            <h3 class="text-xl font-bold text-rose-400">// contact me //</h3>
      </header>

      <SocialLinks />
    </article>
  </main>
</Layout>
